.stepper {
    width: 80%;
    margin: auto;
}

.step-header {
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
}

.step-intro {
    width: 60%;
    text-align: center;
    margin: auto;
}

.nav-buttons {
    float: right;
    margin-right: 10%
}

.step-one-q {
    /* height: 40px; */
    padding: 10px;
    line-height: 40px;
    white-space: nowrap;
}

.difficulty {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.slider {
    width: 80%;
    margin: auto;
    display: inline;
}
.difficulty.material-icons {
    display: inline;
    margin: auto;
}

.material-icons.slide {
    font-size: 36px;
    transform: rotateY(180deg);
}

.step-card {
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.route-card {
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.select-button {
    text-align: right;
    margin-right: 20px;
}

.route-card p {
    font-size: 12px;
}

.route-img {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.route-img img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.route-info {
    display: inline-block;
    height: 150px;
    width: 65%;
    margin-left: 20px;
}

.packlist-checklist {
    columns: 250px 3;
    column-fill: auto;
    margin: auto;
}

.packlist-checklist>label {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.meal-table {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-card {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-img {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.save-img>img {
    object-fit: cover;
    width: 220px;
    height: 300px;
}

