.stepper {
    width: 80%;
    margin: auto;
}

.step-header {
    text-align: center;
    margin-top: 40px;
}

.nav-buttons {
    float: right;
    margin-right: 10%
}


.step-card {
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.route-card {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.route-card p {
    font-size: 12px;
}

.route-img {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.route-img img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.route-info {
    height: 150px;
    width: 75%;
}


.packlist-checklist {
    columns: 250px 3;
    column-fill: auto;
}

.packlist-checklist>label {
    width: 100%;
}

.meal-table {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}