.home {
    display: flex;
    position: relative;
}

.div-left {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    width: 40%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
}

.div-left p {
    font-weight: 300;
}

.home-header {
    font-weight: 500;
}

.div-right {
    display: inline-block;
}

img {
    width: 100%;
    float: right;
}

.plan-button {
    margin-left: 30px;
}