.nav {
  overflow: hidden;
  position: relative;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-color: #949292;
  border-bottom-width: 1px;
}

.nav-title {
  font-family: 'Montserrat', serif;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  color: #353232;
  padding-left: 10px;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
}

.material-icons.md-36 { 
  font-size: 44px;
  color: #353232; 
  margin-top: 25px;
  margin-left: 30px;
}

.nav-link {
  float: left;
  color: #353232;
  background-color: rgb(235, 244, 243);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 24px 0px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 35px;
  min-width: 98px;
  display: inline-block;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  font-size: 18px;
  font-weight: 600
}

.nav-link.active {
  font-size: 18px;
  font-weight: 600
}

.nav-right {
  float: right;
  margin-right: 20px;
}

